body {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    font-family: Roboto;
    margin: 0px;
    background-image: url(../resources/trophy.png);
    background-repeat: no-repeat;
    background-size: inherit;
}

#main-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin: 150px 150px 0px 0px;
}

h2 {
    text-align: center;
}

.image-container {
    width: 600px;
}


@media screen and (min-width:320px) and (max-width:935px) {

}